<nav class="navbar" style="background-color: rgb(224, 150, 23)">
    <div class="container-fluid">
      <a class="navbar-brand" style="color: aliceblue;"href="#">App</a>
      <button class="navbar-toggler"   type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" style="color: azure;"></span>
      </button>
      <div class="collapse navbar-collapse" style="color: azure;" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a style="color: white;" class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
  
          <li class="nav-item">
            <a style="color: white;" class="nav-link active" aria-current="page" href="/addBook">Add Book</a>
          </li>

          <li class="nav-item">
            <a style="color: white;" class="nav-link active" aria-current="page" href="/readBook">View Book</a>
          </li>
        </ul>
      
      </div>
    </div>
  </nav>
  
